__pycache__/
*.py[cod]
*$py.class

.Python
build/
dist/
*.egg-info/
*.egg

poetry.lock
.venv
.mypy_cache
.pytest_cache

.idea/
.vscode/

.DS_Store

.env
.env*
instance/*

*.log

.coverage
htmlcov/

.ipynb_checkpoints

.mypy_cache

.pytest_cache
